* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla, Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  border: 1px solid black;
  height: 32em;
  width: 45em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #00000068;
}

.containerTop {
  height: 14em;
  width: 45em;
  text-align: left;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerTop h1 {
  font-size: 1.7em;
  font-weight: bold;
  color: #2ab2af;
}

.days {
  font-size: 1.3em;
  font-weight: bold;
  color: #c0df34;
}

.containerTop p {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #848a8e;
  opacity: 0.5;
}

#containerBottom {
  display: flex;
  flex-flow: row wrap;
  height: 18em;
}

.containerLeft,
.containerRight {
  width: 50%;
}

.containerLeft {
  padding: 2em;
  background-color: #2ab2af;
  color: #fff;
  line-height: 3em;
  border-radius: 0 0 0 5px;
}

.containerLeft h2 {
  font-size: 1.2em;
}

.prices {
  font-size: 2.5em;
}

.prices span {
  font-size: 0.5em;
  opacity: 0.6;
  color: #e5eff5;
  font-weight: 400;
  text-align: center;
}

.containerLeft button {
  height: 3.5em;
  width: 20em;
  margin: 0.9em;
  margin-left: 0;
  background-color: #c0df34;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px #00000062;
}

.containerRight {
  background-color: #56b8b6;
  border-radius: 0 0 5px 0;
}

.containerRight h2,
.containerRight p {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  margin: 2em;
}

.containerRight p {
  opacity: 0.5;
  padding: 1px 5em 1px 1px;
  line-height: 1.3em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 3em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 725px) {
  body {
    height: 100%;
    justify-content: space-between;
  }

  #container {
    width: 50%;
    height: 43em;
    margin: 2em;
  }

  .containerTop,
  .containerRight,
  .containerLeft {
    width: 100%;
    height: 16em;
    font-size: 0.9em;
    padding: 1em;
  }

  .containerLeft {
    border-radius: 0;
  }

  .containerLeft button {
    text-align: center;
    width: 90%;
    margin: 10px 0px 0px 15px;
  }

  .containerRight {
    border-radius: 0px 0px 10px 10px;
  }
}
